@media (prefers-color-scheme: dark){
    body {
    background-color: #333;
    }

    h1, p, h2 {
        color : white;
    }

    #home, .card, .genre, .filmGenre, .detailFilm, .formDeleteStatut, .form, .formAddPersonne, .formUpdate {
        background-color: white;
        color: black;
    }

    #home > h2, p {
        color: black;
    }

    .card > h2, h3, .list{
        color: black;
    }

    .personne, h4, .detail, .synopsis, form, label {
        color: black;
    }

    form > h2 {
        color: black;
    }
}