/* mode light-dark avec js celon l'heure de la journée */
/* :root {
    --ecritureBody: black;
    --ecritureDiv: white;
    --fondBody : white;
    --fondDiv : #333;
}

body {
    background-color: var(--fondBody);
}

h1, h2, .count {
    color: var(--ecritureBody);
}

#home, .card, .genre, .filmGenre, .detailFilm, .formDeleteStatut, .form, .formAddPersonne, .formUpdate {
    background-color: var(--fondDiv);
    color: var(--ecritureDiv);
}

#home > h2, p {
    color: var(--ecritureDiv);
}

.card > h2, h3, .list{
    color: var(--ecritureDiv);
}

.personne, h4, .detail, .synopsis, form, label {
    color: var(--ecritureDiv);
}

form > h2 {
    color: var(--ecritureDiv);
} */


/* Avec des media query qui detecte le mode choisit dans l'os */
/* @media (prefers-color-scheme: dark){
    body {
    background-color: #333;
    }

    h1, p, h2 {
        color : white;
    }

    #home, .card, .genre, .filmGenre, .detailFilm, .formDeleteStatut, .form, .formAddPersonne, .formUpdate {
        background-color: white;
        color: black;
    }

    #home > h2, p {
        color: black;
    }

    .card > h2, h3, .list{
        color: black;
    }

    .personne, h4, .detail, .synopsis, form, label {
        color: black;
    }

    form > h2 {
        color: black;
    }
} */

/* mode dark-light en appuyant sur un bouton */
body.dark {
    background-color: #333;
}

body.dark h1 {
   color: white; 
}

body.dark h2 {
    color: white;
}


body.dark #home {
    background-color: white;
    color: black;
}

body.dark .card{
    background-color: white;
    color: black;
}

body.dark .phome {
    color: black;
}

body.dark #home > h2 {
    color: black;
}

.count {
    color: black;
}

body.dark .count {
    color: white;
}

body.dark .list{
    color: black;
}

body.dark .detailFilm {
    background-color: white;
    color: black;
}

body.dark .personne {
    color: black;
}

body.dark h4 {
    color: black;
}

body.dark .detail {
    color: black;
}

body.dark .synopsis {
    color: black;
}

body.dark form {
    color: black;
}

body.dark label {
    color: black;
}

body.dark .genre {
    background-color: white;
    color: black;
}

body.dark .filmGenre {
    background-color: white;
    color: black;
}

body.dark .formDeleteStatut {
    background-color: white;
    color: black;
}

body.dark .form{
    background-color: white;
    color: black;
}

body.dark .formAddPersonne {
    background-color: white;
    color: black;
}

body.dark .formUpdate {
    background-color: white;
    color: black;
}

body.dark form > h2 {
    color: black;
}

body.dark form > h3 {
    color: black;
}

body.dark .btn-toggle{
    background-color: white;
    color: black;
}