@media (max-width:640px) {
    /* nav bar */
    .uk-navbar-container {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }

    .admin {
        color: white;
        border-top: 2px solid gray;
        margin-top: 10px;
    }

    /* main */
    #main {
        margin:0;
    }

    /* listFilm */
    #listFilm {
        width: 90%;
    }

    .card {
        width: 100%;
        margin: 0;
    }

    /* filmbyid  */
    .detailFilm {
        width: 90%;
        padding:10px;
        border-radius: 0;
    }

}