.functionDiv{
display: flex;
justify-content: center;
margin-left: 40px;
margin-right: 40px;
}

.formUpdate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    min-height: 80%px;
    background-color: #3d3d3d;
    border-radius: 15px;
    padding: 30px;
    gap: 10px;
}

.alert {
    background-color: red;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    /* width: 20%; */
}