#critique {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #333;
    border-radius: 10px;
}

.avis {
    width: 300px;
    /* background-color: blue; */
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.pAvis {
    color: white;
    padding: 5px;
    text-align: justify;
}

/* formulaire d'avis */

.utilisateur {
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.labelModal{
    color: black;
}

.inputModal {
    width: 100%!important;
    margin-top: 5px;
}

.divUtilisateur {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

.utilisateurTextarea {
    height: 120px;
    width: 350px;
}