.btn-open {
    background-color: #ccd2ff;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}

.modal-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: visibility 0.4s;
}

.modal-container.active {
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
    z-index: 2;
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}


.modal {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    /* min-width: 200px; */
    /* padding: 30px; */
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    z-index: 3;
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}

.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.close-modal {
    width: auto;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: #fff;
}

.pModal, .h3Modal {
    color: black;
    margin-bottom: 10px;
}

.inputCasting {
    margin-bottom: 10px;
}